{% extends "base.html" %}

{% block content %}
    <h1>Добавление новости</h1>
    <!--<form method="post">-->
                                <!--<input type="text" class="form-control" id="title" placeholder="Заголовок" name="title">-->
                                <!--<div class="form-group">-->
                                    <!--<label for="about">О чем вы хотите рассказать</label>-->
                                    <!--<textarea class="form-control" id="about" rows="3" name="about"></textarea>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label for="photo">Фото</label>-->
                                    <!--<input type="file" class="form-control-file" id="photo" name="file">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label for="form-check">Укажите пол</label>-->
                                    <!--<div class="form-check">-->
                                      <!--<input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>-->
                                      <!--<label class="form-check-label" for="male">-->
                                        <!--Мужской-->
                                      <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<button type="submit" class="btn btn-primary">Записаться</button>-->
                            <!--</form>-->
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content }}<br>
            {% for error in form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image }}<br>
                        {% for error in form.image.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
