{% extends "base.html" %}

{% block content %}
<div class="alert alert-dark alert-custom" role="alert" align="middle">
    <h1>{{ title }}</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class_='text_form') }}<br>
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.gender.label }}<br>
            {{ form.gender(class_='button') }}<br>
            {% for error in form.gender.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image(class_='button') }}<br>
                        {% for error in form.image.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.status.label }}<br>
            {{ form.status(class_='message_form') }}<br>
            {% for error in form.status.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_='button') }}</p>
    </form>
</div>
{% endblock %}
