{% extends "base.html" %}

{% block content %}
{% for item in news %}
    <div class="alert alert-dark alert-custom" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
        <h6> <a href="/user_page/{{item[4]}}" style="text-decoration: none;">
            <img src="{{item[7]}}" alt="Avatar" class="avatar">
            </a>
            {{item[0]}} опубликовал{% if item[8] == 'female'%}а{%endif%} запись</h6>
        <h4>{{item[2]}}</h4>
        <p>{{item[3]}}</p>
        {% if item[6] != 0 %}
        <!--<div>-->
        <!--<img src="{{item[6]}}" style="width: 60%;">-->
        <!--</div>-->
        <div>
        <a href="{{item[6]}}">
          <img alt="picture" src="{{item[6]}}"
            class="thumbnail" style="max-width: 90%;">
        </a>
        </div>
        {% endif %}
        <hr>
        <h7>{{item[5][:-10]}}</h7>
        {% if session['user_id'] == item[4] %}
        <a href="/delete_news/{{item[1]}}">Удалить запись</a>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}
