{% extends "base.html" %}

{% block content %}
<div class="alert alert-dark alert-custom" role="alert" align="middle">
    <h1>Авторизация</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class_='text_form') }}<br>
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class_='text_form') }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me(class_='button') }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class_='button') }}</p>
    </form>
    <a href="/reg">Регистрация</a>
</div>
{% endblock %}